@model PruebasSistemaInventario.Models.Role

@{
    ViewData["Title"] = "Eliminar rol";
}
<div class="container">
<h1>Eliminar rol</h1>


<br />
<h3>¿Estas seguro que deseas eliminar este rol?</h3>
<br />
<div>

    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Nombre)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Nombre)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="RolId" />
        <input type="submit" value="Eliminar" class="btn btn-danger" /> |
        <a asp-action="Index" class="btn btn-success">Volver</a>
    </form>
</div>
</div>
